.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 100%;
  
}

/*-----------------Navbar-----------------*/

.navbar {
    padding-top: 0px;
    padding-bottom: 5px;
}

.navbar-light .navbar-brand {
    color: #17a2b8;
    transition: all 0.35s ease-in-out;          /*overwrite FA’s class attributes by giving them a new transition for ux*/
	-moz-transition: all 0.35s ease-in-out;	
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.navbar-light .navbar-brand:hover {				/*target the FA icons in the social tab during the hover*/
	color: #e86410;					            /*color them orange*/
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #17a2b8;
    transition: all 0.35s ease-in-out;          /*overwrite FA’s class attributes by giving them a new transition for ux*/
	-moz-transition: all 0.35s ease-in-out;	
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.navbar-light .navbar-nav .active>.nav-link:hover {			/*target the FA icons in the social tab during the hover*/
	color: #e86410;					                        /*color them orange*/
}

.navbar-brand {
    font-weight: bold;
}


/*-----------------Containers-----------------*/

.callout-container-home {
    height: 100vh;
    background: url('../images/shutterstock_335981396.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}

.callout-container-about {
    height: 100vh;
    background: url('../images/shutterstock_335981393.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}

.callout-container-products {
    height: 100vh;
    background: url('../images/barbell-building-challenge-1552252.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-wrapper-skills {
     background-color: #f8f9fa;
}

/*-----------------Jumbotron-----------------*/

.jumbotron {
    background-color: transparent;
    color: #17a2b8;
}

.jumbotron-about-left {
    background-color: transparent;
    color: #17a2b8;
}

.jumbotron-about-right {
    background-color: transparent;
    color: #17a2b8;
}

.jumbotron-products {
    background-color: transparent;
    color: #17a2b8;
}

.jumbotron-contact {
    background-color: transparent;
    color: #17a2b8;
}

/*-----------------Media queries-----------------*/

@media (max-width:414px) and (max-height: 568px) {            /*phone = short portrait*/

    .heading-text {
        font-size: 1.2rem;
    }

    .lead {
        font-size: 1.0rem;
    }

    .jumbotron {
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .jumbotron-contact {
        margin-top: 150px;
        margin-left: 0px;
    }
    
    .btn-lg {
    padding: 0.2rem;
    font-size: 1.0rem;
    }
    
    .callout-container-home {
    height: 100vh;
    background: url('../images/shutterstock_335981396crop3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    }
}

    @media (max-width:414px) and (min-height: 569px) {            /*phone = portrait*/

    .heading-text {
        font-size: 1.2rem;
    }

    .lead {
        font-size: 1.0rem;
    }

    .jumbotron {
        margin-top: 0px;
        margin-left: 0px;
    }
 
    .callout-container-home {
    height: 100vh;
    background: url('../images/shutterstock_335981396crop3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    }
    
    .btn-lg {
    padding: 0.2rem;
    font-size: 1.0rem;
    }
    
    .heading-text-products {
        font-size: 2.75rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 1.4rem;
        color: #0cd1f1;
    }   
    
    .jumbotron-contact {
        width: 350px;
        margin-top: 350px;
        margin-left: 0px;
    }
}

@media (min-width: 400px) and (max-width:700px) and (max-height: 414px) {         /*md phone = landscape*/
    .heading-text {
        font-size: 1.4rem;
    }

    .lead {
        font-size: 0.8rem;
    }

    .jumbotron-contact {
        width: 350px;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .btn-lg {
    padding: 0.2rem;
    font-size: 0.8rem;
    }
}

@media (min-width: 700px) and (max-width:850px) and (max-height: 414px) {         /*lg phone = landscape*/
    .heading-text {
        font-size: 2.2rem;
    }

    .lead {
        font-size: 1.6rem;
    }

    .jumbotron {
        width: 420px;
        margin-top: 0px;
        margin-left: 20px;
    }
    
    .btn-lg {
    padding: 0.2rem;
    font-size: 1.0rem;
    }
    
    .lead-about {
        font-size: 0.9rem;
    }
    .jumbotron-about-left { 
        width: 245px;
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .jumbotron-about-right { 
        width: 225px;
        margin-top: 50px;
        margin-left: 120px;
    }
    
    .heading-text-products {
        font-size: 2.75rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 1.4rem;
        color: #0cd1f1;
    }   
    
    .jumbotron-contact {
        width: 420px;
        margin-top: 0px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) and (min-height: 813px) {    /*tablet = iPad portrait*/
    .heading-text {
        font-size: 3rem;
    }

    .lead {
        font-size: 2rem;
    }

    .jumbotron {
        width: 600px;
        margin-top: 30px;
        margin-left: 20px;
    }
    
   .heading-text-about {
        font-size: 2rem;
    }

    .lead-about {
        font-size: 1rem;
    }
    .jumbotron-about-left { 
        width: 250px;
        margin-top: 210px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 250px;
        margin-top: 210px;
        margin-left: 110px;
    } 
    
    .callout-container-home {
    height: 100vh;
    background: url('../images/shutterstock_335981396crop3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    }
    
    .quotes p {
        font-size: 1rem;
    }
    
    .heading-text-products {
        font-size: 2.75rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 1.4rem;
        color: #0cd1f1;
    }   
    
    .jumbotron-contact {
        width: 410px;
        margin-top: 15px;
        margin-left: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) and (min-height: 814px) { /*tablet = iPad pro portrait*/
    .heading-text {
        font-size: 5rem;
    }

    .lead {
        font-size: 2.25rem;
    }

    .jumbotron {
        margin-top: 100px;
        margin-left: 50px;
    }
    
    .heading-text-about {
        font-size: 3rem;
    }

    .lead-about {
        font-size: 1.50rem;
    }
    .jumbotron-about-left { 
        width: 350px;
        margin-top: 280px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 350px;
        margin-top: 280px;
        margin-left: 160px;
    }
    
    .callout-container-home {
    height: 100vh;
    background: url('../images/shutterstock_335981396crop3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    }
    
    .heading-text-products {
        font-size: 3.5rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 1.75rem;
        color: #0cd1f1;
    }   
    
    .jumbotron-contact {
        margin-top: 100px;
        margin-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) and (max-height: 1023px) {    /*tablet = iPad landscape*/
    .heading-text {
        font-size: 3.5rem;
    }

    .lead {
        font-size: 2rem;
    }

    .jumbotron {
        width: 600px;
        margin-top: 150px;
        margin-left: 0px;
    }
    
    .heading-text-about {
        font-size: 2.25rem;
    }

    .lead-about {
        font-size: 1.25rem;
    }   
    .jumbotron-about-left { 
        width: 350px;
        margin-top: 180px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 300px;
        margin-top: 180px;
        margin-left: 150px;
    }

    .heading-text-products {
        font-size: 3.5rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 1.75rem;
        color: #0cd1f1;
    }    
    
    .jumbotron-contact {
        width: 550px;
        margin-top: 130px;
        margin-left: 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) and (max-height: 1024px) {   /*iPad pro landscape & small laptop*/
    
    .heading-text {
        font-size: 5rem;
    }

    .lead {
        font-size: 2.5rem;
    }

    .jumbotron {
        width: 800px;
        margin-top: 160px;
        margin-left: 50px;
    }
 
    .heading-text-about {
        font-size: 4rem;
    }

    .lead-about {
        font-size: 1.75rem;
    }   
    
    .jumbotron-about-left { 
        width: 450px;
        margin-top: 160px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 420px;
        margin-top: 160px;
        margin-left: 210px;
    }
    
    .heading-text-products {
        font-size: 4rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 2rem;
        color: #0cd1f1;
    } 
    
    .jumbotron-contact {
        width: 800px;
        margin-top: 160px;
        margin-left: 50px;
    }
}

@media (min-width: 1367px) and (max-width: 1700px) and (max-height: 1000px) {   /* desktop*/
    
    .heading-text {
        font-size: 5rem;
    }

    .lead {
        font-size: 2.5rem;
    }

    .jumbotron {
        width: 900px;
        margin-top: 160px;
        margin-left: 50px;
    }
 
    .heading-text-about {
        font-size: 4rem;
    }

    .lead-about {
        font-size: 1.75rem;
    }   
    
    .jumbotron-about-left { 
        width: 550px;
        margin-top: 120px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 400px;
        margin-top: 120px;
        margin-left: 380px;
    }
   
    .heading-text-products {
        font-size: 6rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 2.75rem;
        color: #0cd1f1;
    }  
    
    .jumbotron-contact {
        width: 900px;
        margin-top: 160px;
        margin-left: 50px;
    }
}

@media (min-width: 1701px) {   /* lg desktop*/
    
    .heading-text {
        font-size: 5rem;
    }

    .lead {
        font-size: 2.5rem;
    }

    .jumbotron {
        width: 900px;
        margin-top: 160px;
        margin-left: 50px;
    }
 
    .heading-text-about {
        font-size: 4rem;
    }

    .lead-about {
        font-size: 1.75rem;
    }   
    
    .jumbotron-about-left { 
        width: 550px;
        margin-top: 120px;
        margin-left: 50px;
    }
    
    .jumbotron-about-right { 
        width: 400px;
        margin-top: 120px;
        margin-left: 450px;
    }
   
    .heading-text-products {
        font-size: 6rem;
        color: #0cd1f1;
    }

    .lead-products {
        font-size: 2.75rem;
        color: #0cd1f1;
    }  
    
    .jumbotron-contact {
        width: 900px;
        margin-top: 160px;
        margin-left: 50px;
    }
}

/*-----------------Footers-----------------*/

footer {
    background-color :#f8f9fa;
}

h2 {
    text-align: center;
    padding-top: 5px;
    font-size: 1.5rem;
}

button {
    margin-top: 1px;
}

.social-links {
    text-align: center;
}

.social-links a i {
    font-size: 28px;
    padding-top: 14px;
    margin-right: 14px;
    margin-left: 14px;
    color: #17a2b8;
    transition: all 0.35s ease-in-out;          /*overwrite FA’s class attributes by giving them a new transition for ux*/
	-moz-transition: all 0.35s ease-in-out;	
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links a i:hover {						/*target the FA icons in the social tab during the hover*/
	color: #e86410;					            /*color them orange*/
}

.form-control {
    width: 100%;
}

#emailHelp {
    text-align: center;
}

/*-----------------Workouts-----------------*/

.workouts a {
    color: #17a2b8;
    text-decoration: none;
    transition: all 0.35s ease-in-out;          /*overwrite FA’s class attributes by giving them a new transition for ux*/
	-moz-transition: all 0.35s ease-in-out;	
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.workouts a:hover {						/*target the FA icons in the social tab during the hover*/
	color: #e86410;					            /*color them orange*/
}

/*-----------------Testimonials-----------------*/
.quotes	{
    margin-bottom: 25px;
}


/*-----------------Dividers-----------------*/

.block-divider 	{
    width: 100%; 
    height: 5px; 
    border: 0; 
    background-color: #444;
}

.block-divider-workout-section 	{
    width: 100%; 
    height: 5px; 
    border: 0; 
    background-color: #444;
}

.block-divider-workout-title 	{
    width: 50%; 
    height: 5px; 
    border: 0; 
    background-color: #444;
}

/*-----------------Dividers-----------------*/

.media-body {
    font-size: 1rem;
    text-align: justify;
}